body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #faf7f4;
  background-image: url("../img/background.jpg");
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.site-header {
  background-color: #000000;
}

/*****Если бы логотип не входил в чёрную область, пришлось бы добавлять обёртки и меня фон у .site-header*****/

.site-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.site-navigation-list,
.user-navigation {
  list-style: none;
}

.site-navigation-list a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
  line-height: 20px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs .breadcrumbs-current {
  color: #aba9a7;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label,
.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
}

.catalog-item:hover {
  box-shadow: 3px 4px 25px 0px rgba(0, 1, 1, 0.3);
}

.catalog-item a {
  color: #000000;
}

.item-type {
  text-transform: none;
}

.catalog-item-image {
  background-color: #f8f8f8;
}

.catalog-item-price b {
  background-color: #e5e5e5;
}

.catalog-item-price a {
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}

.page-number a {
  color: #ffffff;

  background-color: #000000;
}

.page-number a:hover {
  background-color: #663d15;
}

.page-number-current a {
  color: #000000;
  background-color: #ffffff;
}

.page-number-current a:hover {
  background-color: #ffffff;
}

.site-footer {
  line-height: 24px;
  color: #ffffff;

  background-color: #212121;
  background-image: url("../img/footer-bg.jpg");
}

.contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.social {
  text-align: center;
}

.social-networks {
  list-style: none;
}

.copyright {
  text-align: center;
}

.copyright .button:hover {
  color: #000000;
  background-color: #ffffff;
}

.product-photo-full,
.product-photo-preview li {
  box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
}

.product-photo-preview {
  list-style: none;
}

.product-info p {
  line-height: 24px;
}

.product-article {
  color: #c2c1c0;
  text-align: right;
}

.product-price b {
  text-align: center;

  background-color: #e5e5e5;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-info ul {
  list-style: none;
}


/*****Делаем сетку*****/

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-header {
  margin-bottom: 50px;
}

.site-navigation {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.site-header-logo {
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  display: flex;
  width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;
  margin-left: auto;
}

.site-navigation-list a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  vertical-align: middle;
}

.user-navigation a {
  position: relative;

  padding-left: 50px;
}

.login-btn::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 24px;

  width: 16px;
  height: 18px;

  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.login-btn:hover::before,
.login-btn:focus::before,
.login-btn:active::before {
  opacity: 1;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 7px;
  right: -25px;

  width: 8px;
  height: 8px;

  background-color: #000000;

  transform: rotate(45deg);
}

.breadcrumbs-current::after {
  display: none;
}

 .catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 180px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 26px;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  top: 4px;
  left: -38px;

  position: absolute;

  width: 12px;
  height: 12px;

  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -42px;

  width: 16px;
  height: 16px;
  
  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -36px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  list-style: none;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item a {
  display: flex;
  flex-direction: column;
}

.catalog-item h3 {
  order: 1;
  margin-top: 17px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 15px;
}

.item-type {
  display: block;
}

.catalog-item-image {
  width: 220px;
  height: 165px;
  margin: 0;
}

.catalog-item-price {
  display: flex;
  margin: 15px;
  margin-top: 0;
}

.catalog-item-price b {
  width: 112px;
  padding: 13px 25px 11px;
}

.catalog-item-price .button {
  width: 50px;
  padding: 13px 18px 11px;
  margin-right: 0;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.page-number {
  margin-right: 5px;
}

.page-number a {
  display: block;
  padding: 10px 19px;
}

.page-number:last-child {
  margin-right: 0;
}

.site-footer {
  padding: 60px 0;
  margin-top: 45px;
}

.site-footer .container {
  display: flex;
}

.contacts {
  width: 330px;
  margin: 0;
  margin-right: 70px;
}

.social {
  width: 145px;
}

.social b {
  display: block;
  margin-bottom: 15px;
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
}

.copyright b {
  display: block;
  margin-bottom: 15px;
}

.copyright .button {
  display: block;
  margin-right: 0;
}

.product-photos {
  width: 460px;
}

.product-photo-full {
  width: 460px;
  height: 498px;
  margin: 0;
  margin-bottom: 20px;
}

.product-photo-preview {
  display: flex;
  padding: 0;
  margin: 0;
}

.product-photo-preview li {
  width: 140px;
  height: 149px;
  margin-right: 20px;
}

.product-photo-preview li:nth-child(3n) {
  margin-right: 0;
}

.product-info {
  width: 390px;
  padding-top: 23px;
}

.product-info p {
  margin: 0;
}

.product-info .product-price {
  display: flex;
  margin-bottom: 63px;
}

.product-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
  padding-right: 10px;
}

.product-description p {
  width: 200px;
}

.product-info .product-text {
  margin-bottom: 35px;
}

.product-price b {
  width: 112px;
  padding-top: 13px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 11px;
  
  line-height: 20px;
  
  box-sizing: border-box;
}

.product-price .button {
  padding-left: 17px;
  padding-right: 17px;
}

.product-info h3 {
  margin: 0;
  margin-bottom: 27px;
}

.product-info ul {
  margin: 0;
  padding: 0;
}

.product-info li {
  position: relative;

  padding-left: 23px;
}

.product-info li::before {
  content: "";
  
  position: absolute;
  top: 7px;
  left: 2px;
  
  width: 8px;
  height: 8px;
  
  background-color: #000000;

  transform: rotate(45deg);
}